<%= form_with(model: [ @article, @article.comments.build ], local: true) do |form| %>
    <p>
      <%= form.label :Title %><br>
      <%= form.text_field :commenter %>
    </p>
    <p>
      <%= form.label :description %><br>
      <%= form.text_area :body %>
    </p>
    <p>
      <%= form.submit :"Create Note" %>
    </p>
<% end %>