<%= form_with model: @article, local: true do |form| %>

    <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@article.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <p class="Name_andidate form-group">
      <%= form.label :title, "Name Candidate"  %><br>
      <%= form.text_field :title, class: 'form'%>
    </p>

    <p class="Position">
      <%= form.label :position , "Position" %><br>
      <%= form.text_area :position, class: 'form'%>
    </p>

    <p class="Skills">
      <%= form.label :skills, "Skills" %><br>
      <%= form.text_area :skills, class: 'form'%>
    </p>

    <p class="expirience">
      <%= form.label :expirience, "Experience" %><br>
      <%= form.text_area :expirience, class: 'form' %>
    </p>

    <p class="status">
      <%= form.label :status, "Status" %><br>
      <%= form.text_area :status, class: 'form' %>
    </p>

    <p class="form-group">
      <%= form.submit "Create New Candidate", class: 'btn btn-large btn-primary' %>
    </p>

<% end %>

