<%= form_with model: @article, local: true do |form| %>

    <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@article.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <p class="Name_andidate form-group">
      <%= form.label :title, "Name Candidate"  %><br>
      <%= form.text_field :title, class: 'form'%>

    </p>

    <p class="field">
      <%= form.label :position , "Position" %><br>
      <%#= form.text_area :position, class: 'form'%>
      <%= form.select(:position, [['Junior Software Engineer'], ['Software Engineer'], ['Senior Software Engineer'], ['Technical Lead'], ['System Architect'],
                               ['Team lead'], ['Project manager'], ['Senior Project Manager / Program Manager'], ['Director of Engineering / Program Director'],
                               ['Junior QA engineer'], ['QA engineer'], ['Senior QA engineer'], ['QA Tech Lead'],
                               ['Business analyst'], ['Data Scientist / Data Analyst'], ['DBA'], ['Designer'], ['DevOps'],
                               ['ERP / CRM'], ['Game designer'], ['HR'], ['HTML Coder'], ['Marketing'], ['Research Engineer'], ['Sales manager'],
                               ['Scrum Master'], ['Security Specialist'], ['Support'], ['Sysadmin'], ['Talent Researcher'], ['Technical writer']]) %>
    </p>

    <p class="Skills">
      <%= form.label :skills, "Skills" %><br>
      <%#= form.text_area :skills, class: 'form'%>
      <%= form.select(:skills, [['1ะก'], ['ABAP'], ['APL'], ['C'], ['C#/.NET'], ['C++'], ['Delphi'], ['Erlang'],
                               ['Flex/Flash/AIR'], ['Golang'], ['Haskell'], ['Human Resources'], ['Java'], ['JavaScript'], ['Objective-C'],
                               ['Other'], ['Perl'], ['PHP'], ['Python'], ['Ruby/Rails'], ['Scala'], ['SQL'], ['Swift']]) %>
    </p>

    <p class="expirience">
      <%= form.label :expirience, "Experience" %><br>
      <%#= form.text_area :expirience, class: 'form' %>
      <%= form.select(:expirience, [['>1 years'], ['1 years'], ['2 years'], ['3-5 years'], ['5-7 years'], ['8-10 years'], [' 10+ years'], ['15+ years'],
                                ['20+ years']]) %>
    </p>

    <p class="status">
      <%= form.label :status, "Company" %><br>
      <%= form.text_area :status, class: 'form' %>
    </p>

    <p class="status">
      <%= form.label :data, "Salary '$'" %><br>
      <%= form.text_area :data, class: 'form' %>
    </p>

    <p class="form-group">
      <%= form.submit "Create/Update", class: 'btn btn-large btn-primary' %>
    </p>

<% end %>

