<%= form_with model: @article, local: true do |form| %>

    <% if @article.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(@article.errors.count, "error") %> prohibited
            this article from being saved:
          </h2>
          <ul>
            <% @article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <p class="Name_andidate form-group">
      <%= form.label :title, "Name Candidate"  %><br>
      <%= form.text_field :title, class: 'form'%>
    </p>

    <p class="Position">
      <%= form.label :text, "Position" %><br>
      <%= form.text_area :text, class: 'form'%>
    </p>

    <p class="Skills">
      <%= form.label :text, "Skills" %><br>
      <%= form.text_area :text, class: 'form'%>
    </p>

    <p class="expirience">
      <%= form.label :"expirience" %><br>
      <%= form.text_area :text, class: 'form' %>
    </p>

    <p class="status">
      <%= form.label :"status" %><br>
      <%= form.text_area :text, class: 'form' %>
    </p>

    <p class="form-group">
      <%= form.submit %>
    </p>

<% end %>

