
<div class="input-group-addon">
  <div id="error_explanation2">
  <p class="Name_andidate">


    <strong>Name Candidate:</strong>
    <%= @article.title %>
  </p>

   </div>


  <p >
    <strong>Position:</strong>
    <%= @article.position%>
  </p>

  <p >
    <strong>Skills:</strong>
    <%= @article.skills%>
  </p>

  <p >
    <strong>Expirience:</strong>
    <%= @article.expirience%>
  </p>

  <p >
    <strong>Status:</strong>
    <%= @article.status%>
  </p>


</div>

<div class="input-group-addon">
<h2>Notes</h2>
<%= render @article.comments %>

<h2>Add a notes:</h2>
<%= render 'comments/form' %>


<%= link_to 'Edit Person', edit_article_path(@article), class: "btn btn-large btn-primary" %> |
<%= link_to 'Back to Home', articles_path, class: "btn btn-large btn-primary" %>
</div>