<!DOCTYPE html>
<head>


  <%= csrf_meta_tags %>
  <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">



  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Effects - Show Demo</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <style>
    .toggler { width: 10px; height: 2px; }
    #button { padding: .5em 5em; text-decoration: none; }
    #effect { width: 1136px; height: auto; padding: 0.4em; position: relative; color: #477c99;}
    #effect h3 { margin: 0; padding: 0.4em; text-align: center;  }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
      $( function() {
          // run the currently selected effect
          function runEffect() {
              // get effect type from
              var selectedEffect = $( "#effectTypes" ).val();

              // Most effect types need no options passed by default
              var options = {};
              // some effects have required parameters
              if ( selectedEffect === "scale" ) {
                  options = { percent: 50 };
              } else if ( selectedEffect === "size" ) {
                  options = { to: { width: 500, height: 100 } };
              }

              // Run the effect
              $( "#effect" ).show( selectedEffect, options, 500, callback );
          };

          //callback function to bring a hidden box back
          function callback() {
              setTimeout(function() {
                  $( "#effect:visible" ).removeAttr( "style" ).fadeOut();
              }, 3500 ); // сколько секунд будет ждать открытой
          };

          // Set effect from select menu value
          $( "#button" ).on( "click", function() {
              runEffect();
          });

          $( "#effect" ).hide();
      } );
  </script>

  <style type="text/css">

    #Home_page_Title{
      text-align: center;
    }

    #Home_page_Name_Pos_Comp{
      text-align: center;
      padding: 20px; /* Поля вокруг содержимого ячеек */
    }

  </style>


</head>



<p id="notice"><%= notice %></p>

<!--<h1>Listing All Candidate</h1>-->
<!--//-------------------------------Search---------------------------------------->
<div class="container search_margin_top">
  <%= label_tag(:q, "Search for:") %>
  <%= form_with url: search_path, local: true, method: :get do |form| %>
      <%= form.text_field :q, :size =>"40", placeholder: "Search yours Candidate", data:{behavior: "autocomplete"}, class: "form-control width_of_search" %>
      <div class="ttt">
        <%= form.button "Search", class: "btn btn-large btn-primary" %>
      </div>
  <% end %>
</div>
<br>

<!--//-------------------------------Your active Vacancies---------------------------------------->


<body class="">
<!--//-------------Your active Vacancies class="favth-btn glyphicon glyphicon-ok"-------------------->
<h1 class="title">Listing All Candidates</h1>

<div class="toggler">
  <div id="effect" class="ui-widget-content ui-corner-all">
    <h3 class="ui-widget-header ui-corner-all">Your active Vacancies</h3>

    <table class="table table-striped container bg-info table-responsive">

      <div class="col-xs-8">
        <tr>
          <div class="container glyphicon glyphicon-film" >
            <div class="row">
              <th>Summary</th>
              <th>Description</th>
              <th>Company</th>

            </div>
          </div>
        </tr>
      </div>

      <tbody >
      <div class="views_vacansies">
        <% @vacancies.each do |vacancy| %>
            <tr >
              <td><%= vacancy.summary %></td>
              <td><%= vacancy.description %></td>
              <td><%= vacancy.company %></td>
            </tr>
            <td class="Show"><button class="favth-btn"><%= link_to 'Show', vacancy, class: "btn btn-large btn-primary", type: "button"%></button></td>
            <td class="destroy"><button class="favth-btn"><%= link_to 'Destroy', vacancy, class: "btn btn-large btn-danger", type: "button", method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
        <% end %>
      </div>
      </tbody>
    </table>
  </div>
</div>

<!--//---------------Run Effect------------------>
<br> <br>
<div class="View_open_position">
  <select class="opacity" name="effects" id="effectTypes">
    <option value="fold"></option>
  </select>
  <button id="button" class="ui-state-default ui-corner-all">View Open Position</button>
</div>

<!--//---------------Add New Candidate------------------>
<div class="ttt form-group has-success">
  <label class="control-label" for="succ">

    <%= link_to 'Add New Candidate', new_pet_path, class: "btn btn-mini btn-primary", type: "button" %>

  </label>
</div>



<div class="">

    <table id="example"  class="table  table-striped fixedtable" style="width:100%">
      <thead>
          <tr>
            <th></th>
            <th id="Home_page_Title" >Name Candidate</th>
            <th id="Home_page_Title">Position</th>
            <th id="Home_page_Title">Company</th>
            <th colspan="3" id="Home_page_Title">Action</th>
          </tr>
      </thead>
  <tbody>
    <% @pets.each do |pet| %>
      <tr>
        <% if pet.image.present? %>
            <td id="Home_page_Avatar"><%= image_tag pet.image.thumb.url %></td>
        <% end %>
          <td id="Home_page_Name_Pos_Comp" width="auto"><%= pet.name %></td>

          <td id="Home_page_Name_Pos_Comp"><%= pet.city_2 %></td>

          <!-- <td id="Home_page_Name_Pos_Comp"><%= pet.position_2 %></td> -->

          <td id="Home_page_Name_Pos_Comp"><%= pet.company_2 %></td>
          <td id="Home_page_Title" class="Show" ><button class="favth-btn "><%= link_to 'Show', pet, class: "btn btn-mini btn-primary", type: "button" %></button></td>
          <td  id="Home_page_Title" class="edit"><button class="favth-btn"><%= link_to 'Edit', edit_pet_path(pet), class: "btn btn-mini btn-warning", type: "button" %></button></td>
          <td id="Home_page_Title" class="destroy"><button class="favth-btn"><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger", type: "button" %></button></td>
      </tr>
    <% end %>
  </tbody>
      <br>
    </table>

</div>

<%#= link_to 'New Pet', new_pet_path, class: "btn btn-mini btn-primary", type: "button"  %>

</body>
</html>

