<% if params[:q].present? %>
    <h1>
      Search results for "<%= params[:q] %>"
      <!-- Search Results for -->
    </h1>
<% else %>
    <h1>
      <%= t('search.please_type_something') %>
      <!-- "Please, type anything" -->
    </h1>
<% end %>

<div>
  <% if @pets.present? %>
      <h2>
        Articles:
      </h2>
  <% else %>
      <h3>
        Nothing found by
        "<%= params[:q] %>"
      </h3>
  <% end %>
  <% @pets.each do |pet| %>

      <%= link_to pet.name+" "+pet.position_2, pets_path(pet), class: 'btn btn-primary' %> <!--показывает при окончании результата поиска-->

  <%#= link_to article.title, article_path(article) %>
  <% end %>
</div>
<div class="ttt">
<%= link_to 'Back', :back, class: 'btn btn-primary' %>
</div>