<% if params[:q].present? %>
    <h1>
      Search results for "<%= params[:q] %>"
      <!-- Search Results for -->
    </h1>
<% else %>
    <h1>
      <%= t('search.please_type_something') %>
      <!-- "Please, type anything" -->
    </h1>
<% end %>

<br>


<table class="table table-striped container">
<thead>
<div class="col-xs-8">
  <tr><div class="container" >
    <div class="row">
      <th>Photo</th>
      <th>Name Candidate</th>
      <th>Position</th>
      <th>Company</th>
      <th colspan="3"></th></div></div>
  </tr>
</div>
</thead>

<tbody>
<% if @pets.present? %>
    <h2>
      Lits Finded Candidates
    </h2>
<% else %>
    <h3>
      Nothing found by
      "<%= params[:q] %>"
    </h3>
<% end %>
<% @pets.each do |pet| %>
    <td><%= image_tag pet.image.thumb.url %></td>
    <td><%= link_to pet.name, pet_path(pet), class: 'btn btn-primary' %></td> <!--показывает при окончании результата поиска-->
    <td><%= link_to pet.position_2, pet_path(pet), class: 'btn btn-primary' %></td>
    <td><%= link_to pet.company_2, pet_path(pet), class: 'btn btn-primary' %></td>
<% end %>
</tbody>


<br>


</table>


<div class="ttt">
  <%= link_to 'Back', :back, class: 'btn btn-primary' %>
</div>
