<div class="input-group-addon">
  <div id="error_explanation2">
  </div>
<p id="notice"><%= notice %></p>


  <p>
    <strong>Image:</strong>
    <%#= @pet.image %>
    <%= image_tag @pet.image.thumb.url %>
  </p>

  <p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

  <p >
    <strong>Birth Date:</strong>
    <%= @pet.birth_date_2%>
  </p>

<p>
  <strong>Description:</strong>
  <%= @pet.description %>
</p>


  <p >
    <strong>Position:</strong>
    <%= @pet.position_2%>
  </p>

  <p >
    <strong>Skills:</strong>
    <%= @pet.skills_2%>
  </p>

  <p >
    <strong>Expirience:</strong>
    <%= @pet.expirience_2%>
  </p>

  <p >
    <strong>Company:</strong>
    <%= @pet.company_2%>
  </p>


  <p >
    <strong>Salary'$':</strong>
    <%= @pet.salary_2%>
  </p>


  <p >
    <strong>City:</strong>
    <%= @pet.city_2%>
  </p>

  <p >
    <strong>Skype:</strong>
    <%= @pet.skype_2%>
  </p>


  <p >
    <strong>Telephone:</strong>
    <%= @pet.telephone_2%>
  </p>

  <p >
    <strong>English Level:</strong>
    <%= @pet.eng_lev_2%>
  </p>


  </div>

<div class="ttt">
<%= link_to 'Edit', edit_pet_path(@pet), class: "btn btn-large btn-primary" %> |
<%= link_to 'Back', pets_path, class: "btn btn-large btn-primary" %>
</div>
