<%= form_with(model: vacancy, local: true) do |form| %>
  <% if vacancy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vacancy.errors.count, "error") %> prohibited this vacancy from being saved:</h2>

      <ul>
      <% vacancy.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_area :summary, id: :vacancy_summary %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :vacancy_description %>
  </div>

  <div class="field">
    <%= form.label :company %>
    <%= form.text_area :company, id: :vacancy_company %>
  </div>

    <!--<div class="field">-->
      <%#= form.label :summary %>
      <%#= form.select(:summary, [['русский'], ['английский']]) %>
    <!--</div>-->

  <div class="actions">
    <%= form.submit "Create/Update", class: 'btn btn-large btn-primary'  %>
  </div>
<% end %>
