<div class="input-group-addon">


<p id="notice"><%= notice %></p>

<p>
  <strong>Summary:</strong>
  <%= @vacancy.summary %>
</p>

<p>
  <strong>Description:</strong>
  <%= @vacancy.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @vacancy.company %>
</p>
  </div>

<div class="ttt">
  <%= link_to 'Edit', edit_vacancy_path(@vacancy), class: "btn btn-large btn-primary", type: "button" %> |
<%= link_to 'Back', vacancies_path, class: "btn btn-large btn-primary", type: "button" %>
</div>