<!DOCTYPE html>
<html>
  <head >
    <link rel="shortcut icon" href="https://icons8.ru" type="image/x-icon" width="48" height="48" >


    <title>
      Recruiter
    </title>
    <%= csrf_meta_tags %>

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'Flat_logo__97x84_2.ico' %> <!--тут лежить логотип для страницы для вкладки-->

  </head>
  <body>
  <%#= image_tag("icons8-Контакты-48.png", size: "50x40",:alt => "Recruiter", id:'recruiter_logo') %>
      <div class="wrapper">
          <div class="wrapper2">
                <p class="notice"><%= notice %></p>
                <p class="alert"><%= alert %></p>
                <%= render 'layouts/header' %>
                <header class="container bodyimage">
                        <%= yield %>
                      <!--в этой строке мы можем разместить данныве которые будут показываться на всех страницах-->
                </header>
                <%= render 'layouts/footer', class: 'form' %>
          </div>
      </div>
  </body>
</html>
